[submodule "vendor/real_stanford_arx5_sdk"]
	path = vendor/real_stanford_arx5_sdk
	url = https://github.com/real-stanford/arx5-sdk.git
[submodule "vendor/figaroh"]
	path = vendor/figaroh
	url = https://github.com/thanhndv212/figaroh-plus.git
